* {
	box-sizing: border-box;
	margin-left: 30px;
}

body{
	font-family:"Comic Sans MS";
}

h1{
	text-align: center;
	
	margin-bottom: 80px;
}

.row{
	width:100%;
	


}

.po {

	background-color: #737373;
	width:90%;
	border: 3px solid black;
	margin-left: 86px;
	padding: 30px 10px 10px 10px;
	position: relative;
  
	

}

.edit{
	font-size:16px;
	text-align:center;
	width:80px;
	border: 2px solid black;
	border-right-style: none;
	border-top-style: none;
	position: absolute;
	top:0px;
	right:0px;
	margin:0px;

}

#name1{
	background-color: #e68a00;
}

#name2{
	background-color: #3377ff;
}

#name3{
	background-color:  #b30000;
}

@media (min-width: 992px){
	.col-lg-4{
		float:left;
		margin-left: 15px;
		width:30%;

	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		float:left;
		margin-left: 15px;
		margin-bottom:15px;
		width:41.5%;
	}

	*{
		margin-left: 35px;
	}
	.col-md-12{
		float:left;
		margin-left: 15px;
		width:85%;
	}
}

@media (max-width:767px){
	.col-sm-12{
		float:left;
		margin-left: 15px;
		margin-bottom: 15px;
		width:85%;

	}
	*{
		margin-left:40px;
	}
}